  //   variables

$rose-800: rgb(122, 40, 78);

html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin:0;
    padding: 0;
    font-family:'', Courier, monospace;
    background-color: grey;
    color: grey;
}

